In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('vivino_red_wine_072121.csv')

In [5]:
df.head()

,winery,wine_type,city,country,wine_name,year,overall_rating,overall_rating_count,price,light_bold,smooth_tannic,dry_sweet,soft_acidic
0,Ch?eau Mouton Rothschild,Red wine,Pauillac,France,Pauillac (Premier Grand Cru Class?),1967,4.4,208,4499.97,66.8377,68.8474,7.95159,67.8875
1,Dujac Fils et P?e,Red wine,Gevrey-Chambertin,France,Gevrey-Chambertin,2013,3.8,81,3262.50,38.4608,27.7903,1.16921,67.7236
2,Ch?eau Pichon Longueville Comtesse de Lalande,Red wine,Pauillac,France,Pauillac (Grand Cru Class?),1985,4.5,598,1799.99,66.6542,68.1138,4.89307,69.4560
3,Ch?eau Pichon Longueville Comtesse de Lalande,Red wine,Pauillac,France,Pauillac (Grand Cru Class?),1986,4.5,1064,1799.99,66.6538,68.1144,4.89312,69.4560
4,Ch?eau Pichon Longueville Comtesse de Lalande,Red wine,Pauillac,France,Pauillac (Grand Cru Class?),1967,4.4,32,1799.99,66.6538,68.1144,4.89312,69.4560

In [6]:
df.sort_values(by=['overall_rating','price'], ascending = False)

,winery,wine_type,city,country,wine_name,year,overall_rating,overall_rating_count,price,light_bold,smooth_tannic,dry_sweet,soft_acidic
16,Abreu,Red wine,Napa Valley,United States,Thorevilos Cabernet Sauvignon,2006,4.9,25,1399.99,80.0000,62.6407,8.52482,52.1362
110,Bond,Red wine,Napa Valley,United States,Melbury,2014,4.9,34,764.99,80.0000,54.2035,13.83380,55.8395
170,Sine Qua Non,Red wine,Sta. Rita Hills,United States,Rattrapante Grenache,2012,4.9,69,699.95,-1.0000,-1.0000,-1.00000,-1.0000
208,Peter Michael,Red wine,Sonoma Coast,United States,Clos du Ciel Pinot Noir,2014,4.9,29,669.97,47.2299,20.9096,4.04078,52.2205
679,Realm,Red wine,Napa Valley,United States,Cabernet Sauvignon Beckstoffer To Kalon Vineyard,2015,4.9,34,429.00,80.0000,52.7127,5.30010,51.3659
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43660,Mother's Choice,Red wine,California,United States,Red Blend,2018,2.5,47,9.99,80.0000,56.5732,6.33011,62.7790
44158,Our Daily,Red wine,California,United States,Red Blend,2013,2.4,231,8.99,79.4697,54.8779,0.00000,63.4142
27734,Pierre Chavin,Red wine,Languedoc,France,Le Petit ?oil? Cabernet Sauvignon,-1,2.2,31,26.00,25.7115,25.7115,23.05770,30.3846
44159,Ariel,Red wine,Napa Valley,United States,Cabernet Sauvignon,2014,2.0,28,8.99,58.9665,42.8184,30.75980,44.2779
44932,NaN,NaN,NaN,NaN,NaN,-1,-1.0,-1,-1.00,-1.0000,-1.0000,-1.00000,-1.0000

In [7]:
df.shape

(44933, 13)

In [8]:
df.dtypes

winery                   object
wine_type                object
city                     object
country                  object
wine_name                object
year                      int64
overall_rating          float64
overall_rating_count      int64
price                   float64
light_bold              float64
smooth_tannic           float64
dry_sweet               float64
soft_acidic             float64
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44933 entries, 0 to 44932
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   winery                44932 non-null  object
 1   wine_type             44932 non-null  object
 2   city                  44928 non-null  object
 3   country               44928 non-null  object
 4   wine_name             44927 non-null  object
 5   year                  44933 non-null  int64
 6   overall_rating        44933 non-null  float64
 7   overall_rating_count  44933 non-null  int64
 8   price                 44933 non-null  float64
 9   light_bold            44933 non-null  float64
 10  smooth_tannic         44933 non-null  float64
 11  dry_sweet             44933 non-null  float64
 12  soft_acidic           44933 non-null  float64
dtypes: float64(6), int64(2), object(5)
memory usage: 4.5+ MB

In [13]:
df.city.value_counts()

city
Napa Valley                                  3071
California                                   1670
Barolo                                       1313
Toscana                                      1005
Mendoza                                       963
                                             ...
Elkton Oregon                                   1
Simonsberg-Stellenbosch                         1
Morey-Saint-Denis 1er Cru 'Les Charri?es'       1
Coal River Valley                               1
Lison-Pramaggiore                               1
Name: count, Length: 1180, dtype: int64